<div class="row justify-content-center">
  <!--===============================================
       Start of First Column
      ============================================-->
  <div class="wrapper">
    <img src="/assets/img/dates/1-18.png" alt="" class="door-img" />
    
    {{ range .Pages }}
    {{$t := .PublishDate.Format "1/2/2006" }}
    {{$w := "2/1/2021"}}
    {{if eq $t $w}}
    <h3><a href="{{.Permalink}}"> {{ .PublishDate.Format "1/2/2006" }}</a></h3>
    {{ end }}
    {{ end }}

    <div id="left-door" class="door">
      <p style="font-size: 40px; z-index: 1">01</p>
      <div class="shape"></div>

      <div class="shape"></div>
      <div id="left-knob" class="knob"></div>

      <button class="btn-date">01</button>
    </div>
  </div>
  <div class="wrapper">
    <img src="/assets/img/dates/1-18.png" alt="" class="door-img" />
    
    {{ range .Pages }}
    {{$t := .PublishDate.Format "1/2/2006" }}
    {{$w := "2/8/2021"}}
    {{if eq $t $w}}
    <h3><a href="{{.Permalink}}"> {{ .PublishDate.Format "1/2/2006" }}</a></h3>
    {{ end }}
    {{ end }}

    <div id="left-door" class="door">
      <p style="font-size: 40px; z-index: 1">08</p>
      <div class="shape"></div>

      <div class="shape"></div>
      <div id="left-knob" class="knob"></div>

      <button class="btn-date">08</button>
    </div>
  </div>
  <div class="wrapper">
    <img src="/assets/img/dates/1-18.png" alt="" class="door-img" />
    
    {{ range .Pages }}
    {{$t := .PublishDate.Format "1/2/2006" }}
    {{$w := "2/24/2021"}}
    {{if eq $t $w}}
    <h3><a href="{{.Permalink}}"> {{ .PublishDate.Format "1/2/2006" }}</a></h3>
    {{ end }}
    {{ end }}

    <div id="left-door" class="door">
      <p style="font-size: 40px; z-index: 1">24</p>
      <div class="shape"></div>

      <div class="shape"></div>
      <div id="left-knob" class="knob"></div>

      <button class="btn-date">24</button>
    </div>
  </div>
  <div class="wrapper">
    <img src="/assets/img/dates/1-18.png" alt="" class="door-img" />
    
    {{ range .Pages }}
    {{$t := .PublishDate.Format "1/2/2006" }}
    {{$w := "2/3/2021"}}
    {{if eq $t $w}}
    <h3><a href="{{.Permalink}}"> {{ .PublishDate.Format "1/2/2006" }}</a></h3>
    {{ end }}
    {{ end }}

    <div id="left-door" class="door">
      <p style="font-size: 40px; z-index: 1">03</p>
      <div class="shape"></div>

      <div class="shape"></div>
      <div id="left-knob" class="knob"></div>

      <button class="btn-date">03</button>
    </div>
  </div>

  <!--===============================================
       End of First Column
      ============================================-->

      <!--===============================================
       Start of Second Column
      ============================================-->
  <div class="wrapper">
    <img src="/assets/img/dates/1-18.png" alt="" class="door-img" />
    
    {{ range .Pages }}
    {{$t := .PublishDate.Format "1/2/2006" }}
    {{$w := "2/9/2021"}}
    {{if eq $t $w}}
    <h3><a href="{{.Permalink}}"> {{ .PublishDate.Format "1/2/2006" }}</a></h3>
    {{ end }}
    {{ end }}

    <div id="left-door" class="door">
      <p style="font-size: 40px; z-index: 1">09</p>
      <div class="shape"></div>

      <div class="shape"></div>
      <div id="left-knob" class="knob"></div>

      <button class="btn-date">09</button>
    </div>
  </div>
  <div class="wrapper">
    <img src="/assets/img/dates/1-18.png" alt="" class="door-img" />
    
    {{ range .Pages }}
    {{$t := .PublishDate.Format "1/2/2006" }}
    {{$w := "2/14/2021"}}
    {{if eq $t $w}}
    <h3><a href="{{.Permalink}}"> {{ .PublishDate.Format "1/2/2006" }}</a></h3>
    {{ end }}
    {{ end }}

    <div id="left-door" class="door">
      <p style="font-size: 40px; z-index: 1">14</p>
      <div class="shape"></div>

      <div class="shape"></div>
      <div id="left-knob" class="knob"></div>

      <button class="btn-date">14</button>
    </div>
  </div>
  <div class="wrapper">
    <img src="/assets/img/dates/1-18.png" alt="" class="door-img" />
    
    {{ range .Pages }}
    {{$t := .PublishDate.Format "1/2/2006" }}
    {{$w := "2/7/2021"}}
    {{if eq $t $w}}
    <h3><a href="{{.Permalink}}"> {{ .PublishDate.Format "1/2/2006" }}</a></h3>
    {{ end }}
    {{ end }}

    <div id="left-door" class="door">
      <p style="font-size: 40px; z-index: 1">07</p>
      <div class="shape"></div>

      <div class="shape"></div>
      <div id="left-knob" class="knob"></div>

      <button class="btn-date">07</button>
    </div>
  </div>
  <div class="wrapper">
    <img src="/assets/img/dates/1-18.png" alt="" class="door-img" />
    
    {{ range .Pages }}
    {{$t := .PublishDate.Format "1/2/2006" }}
    {{$w := "2/16/2021"}}
    {{if eq $t $w}}
    <h3><a href="{{.Permalink}}"> {{ .PublishDate.Format "1/2/2006" }}</a></h3>
    {{ end }}
    {{ end }}

    <div id="left-door" class="door">
      <p style="font-size: 40px; z-index: 1">16</p>
      <div class="shape"></div>

      <div class="shape"></div>
      <div id="left-knob" class="knob"></div>

      <button class="btn-date">16</button>
    </div>
  </div>

  <!--===============================================
       End of Secondt Column
      ============================================-->

      <!--===============================================
       Start of Third Column
      ============================================-->
  <div class="wrapper">
    <img src="/assets/img/dates/1-18.png" alt="" class="door-img" />
    
    {{ range .Pages }}
    {{$t := .PublishDate.Format "1/2/2006" }}
    {{$w := "2/19/2021"}}
    {{if eq $t $w}}
    <h3><a href="{{.Permalink}}"> {{ .PublishDate.Format "1/2/2006" }}</a></h3>
    {{ end }}
    {{ end }}

    <div id="left-door" class="door">
      <p style="font-size: 40px; z-index: 1">19</p>
      <div class="shape"></div>

      <div class="shape"></div>
      <div id="left-knob" class="knob"></div>

      <button class="btn-date">19</button>
    </div>
  </div>
  <div class="wrapper">
    <img src="/assets/img/dates/1-18.png" alt="" class="door-img" />
    
    {{ range .Pages }}
    {{$t := .PublishDate.Format "1/2/2006" }}
    {{$w := "2/18/2021"}}
    {{if eq $t $w}}
    <h3><a href="{{.Permalink}}"> {{ .PublishDate.Format "1/2/2006" }}</a></h3>
    {{ end }}
    {{ end }}

    <div id="left-door" class="door">
      <p style="font-size: 40px; z-index: 1">18</p>
      <div class="shape"></div>

      <div class="shape"></div>
      <div id="left-knob" class="knob"></div>

      <button class="btn-date">18</button>
    </div>
  </div>
  <div class="wrapper">
    <img src="/assets/img/dates/1-18.png" alt="" class="door-img" />
    
    {{ range .Pages }}
    {{$t := .PublishDate.Format "1/2/2006" }}
    {{$w := "2/4/2021"}}
    {{if eq $t $w}}
    <h3><a href="{{.Permalink}}"> {{ .PublishDate.Format "1/2/2006" }}</a></h3>
    {{ end }}
    {{ end }}

    <div id="left-door" class="door">
      <p style="font-size: 40px; z-index: 1">04</p>
      <div class="shape"></div>

      <div class="shape"></div>
      <div id="left-knob" class="knob"></div>

      <button class="btn-date">04</button>
    </div>
  </div>
  <div class="wrapper">
    <img src="/assets/img/dates/1-18.png" alt="" class="door-img" />
    
    {{ range .Pages }}
    {{$t := .PublishDate.Format "1/2/2006" }}
    {{$w := "2/6/2021"}}
    {{if eq $t $w}}
    <h3><a href="{{.Permalink}}"> {{ .PublishDate.Format "1/2/2006" }}</a></h3>
    {{ end }}
    {{ end }}

    <div id="left-door" class="door">
      <p style="font-size: 40px; z-index: 1">06</p>
      <div class="shape"></div>

      <div class="shape"></div>
      <div id="left-knob" class="knob"></div>

      <button class="btn-date">06</button>
    </div>
  </div>

  <!--===============================================
       End of Third Column
      ============================================-->


      <!--===============================================
       Start of Fourth Column
      ============================================-->
  <div class="wrapper">
    <img src="/assets/img/dates/1-18.png" alt="" class="door-img" />
    
    {{ range .Pages }}
    {{$t := .PublishDate.Format "1/2/2006" }}
    {{$w := "2/17/2021"}}
    {{if eq $t $w}}
    <h3><a href="{{.Permalink}}"> {{ .PublishDate.Format "1/2/2006" }}</a></h3>
    {{ end }}
    {{ end }}

    <div id="left-door" class="door">
      <p style="font-size: 40px; z-index: 1">17</p>
      <div class="shape"></div>

      <div class="shape"></div>
      <div id="left-knob" class="knob"></div>

      <button class="btn-date">17</button>
    </div>
  </div>
  <div class="wrapper">
    <img src="/assets/img/dates/1-18.png" alt="" class="door-img" />
    
    {{ range .Pages }}
    {{$t := .PublishDate.Format "1/2/2006" }}
    {{$w := "2/10/2021"}}
    {{if eq $t $w}}
    <h3><a href="{{.Permalink}}"> {{ .PublishDate.Format "1/2/2006" }}</a></h3>
    {{ end }}
    {{ end }}

    <div id="left-door" class="door">
      <p style="font-size: 40px; z-index: 1">10</p>
      <div class="shape"></div>

      <div class="shape"></div>
      <div id="left-knob" class="knob"></div>

      <button class="btn-date">10</button>
    </div>
  </div>
  <div class="wrapper">
    <img src="/assets/img/dates/1-18.png" alt="" class="door-img" />
    
    {{ range .Pages }}
    {{$t := .PublishDate.Format "1/2/2006" }}
    {{$w := "2/15/2021"}}
    {{if eq $t $w}}
    <h3><a href="{{.Permalink}}"> {{ .PublishDate.Format "1/2/2006" }}</a></h3>
    {{ end }}
    {{ end }}

    <div id="left-door" class="door">
      <p style="font-size: 40px; z-index: 1">15</p>
      <div class="shape"></div>

      <div class="shape"></div>
      <div id="left-knob" class="knob"></div>

      <button class="btn-date">15</button>
    </div>
  </div>
  <div class="wrapper">
    <img src="/assets/img/dates/1-18.png" alt="" class="door-img" />
    
    {{ range .Pages }}
    {{$t := .PublishDate.Format "1/2/2006" }}
    {{$w := "2/12/2021"}}
    {{if eq $t $w}}
    <h3><a href="{{.Permalink}}"> {{ .PublishDate.Format "1/2/2006" }}</a></h3>
    {{ end }}
    {{ end }}

    <div id="left-door" class="door">
      <p style="font-size: 40px; z-index: 1">12</p>
      <div class="shape"></div>

      <div class="shape"></div>
      <div id="left-knob" class="knob"></div>

      <button class="btn-date">12</button>
    </div>
  </div>

  <!--===============================================
       End of Fourth Column
      ============================================-->


      <!--===============================================
       Start of Fifth Column
      ============================================-->
  <div class="wrapper">
    <img src="/assets/img/dates/1-18.png" alt="" class="door-img" />
    
    {{ range .Pages }}
    {{$t := .PublishDate.Format "1/2/2006" }}
    {{$w := "2/22/2021"}}
    {{if eq $t $w}}
    <h3><a href="{{.Permalink}}"> {{ .PublishDate.Format "1/2/2006" }}</a></h3>
    {{ end }}
    {{ end }}

    <div id="left-door" class="door">
      <p style="font-size: 40px; z-index: 1">22</p>
      <div class="shape"></div>

      <div class="shape"></div>
      <div id="left-knob" class="knob"></div>

      <button class="btn-date">22</button>
    </div>
  </div>
  <div class="wrapper">
    <img src="/assets/img/dates/1-18.png" alt="" class="door-img" />
    
    {{ range .Pages }}
    {{$t := .PublishDate.Format "1/2/2006" }}
    {{$w := "2/5/2021"}}
    {{if eq $t $w}}
    <h3><a href="{{.Permalink}}"> {{ .PublishDate.Format "1/2/2006" }}</a></h3>
    {{ end }}
    {{ end }}

    <div id="left-door" class="door">
      <p style="font-size: 40px; z-index: 1">05</p>
      <div class="shape"></div>

      <div class="shape"></div>
      <div id="left-knob" class="knob"></div>

      <button class="btn-date">05</button>
    </div>
  </div>
  <div class="wrapper">
    <img src="/assets/img/dates/1-18.png" alt="" class="door-img" />
    
    {{ range .Pages }}
    {{$t := .PublishDate.Format "1/2/2006" }}
    {{$w := "2/20/2021"}}
    {{if eq $t $w}}
    <h3><a href="{{.Permalink}}"> {{ .PublishDate.Format "1/2/2006" }}</a></h3>
    {{ end }}
    {{ end }}

    <div id="left-door" class="door">
      <p style="font-size: 40px; z-index: 1">20</p>
      <div class="shape"></div>

      <div class="shape"></div>
      <div id="left-knob" class="knob"></div>

      <button class="btn-date">20</button>
    </div>
  </div>
  <div class="wrapper">
    <img src="/assets/img/dates/1-18.png" alt="" class="door-img" />
    
    {{ range .Pages }}
    {{$t := .PublishDate.Format "1/2/2006" }}
    {{$w := "2/21/2021"}}
    {{if eq $t $w}}
    <h3><a href="{{.Permalink}}"> {{ .PublishDate.Format "1/2/2006" }}</a></h3>
    {{ end }}
    {{ end }}

    <div id="left-door" class="door">
      <p style="font-size: 40px; z-index: 1">21</p>
      <div class="shape"></div>

      <div class="shape"></div>
      <div id="left-knob" class="knob"></div>

      <button class="btn-date">21</button>
    </div>
  </div>

  <!--===============================================
       End of Fifth Column
      ============================================-->


      <!--===============================================
       Start of Sixth Column
      ============================================-->
  <div class="wrapper">
    <img src="/assets/img/dates/1-18.png" alt="" class="door-img" />
    
    {{ range .Pages }}
    {{$t := .PublishDate.Format "1/2/2006" }}
    {{$w := "2/13/2021"}}
    {{if eq $t $w}}
    <h3><a href="{{.Permalink}}"> {{ .PublishDate.Format "1/2/2006" }}</a></h3>
    {{ end }}
    {{ end }}

    <div id="left-door" class="door">
      <p style="font-size: 40px; z-index: 1">13</p>
      <div class="shape"></div>

      <div class="shape"></div>
      <div id="left-knob" class="knob"></div>

      <button class="btn-date">13</button>
    </div>
  </div>
  <div class="wrapper">
    <img src="/assets/img/dates/1-18.png" alt="" class="door-img" />
    
    {{ range .Pages }}
    {{$t := .PublishDate.Format "1/2/2006" }}
    {{$w := "2/23/2021"}}
    {{if eq $t $w}}
    <h3><a href="{{.Permalink}}"> {{ .PublishDate.Format "1/2/2006" }}</a></h3>
    {{ end }}
    {{ end }}

    <div id="left-door" class="door">
      <p style="font-size: 40px; z-index: 1">23</p>
      <div class="shape"></div>

      <div class="shape"></div>
      <div id="left-knob" class="knob"></div>

      <button class="btn-date">23</button>
    </div>
  </div>
  <div class="wrapper">
    <img src="/assets/img/dates/1-18.png" alt="" class="door-img" />
    
    {{ range .Pages }}
    {{$t := .PublishDate.Format "1/2/2006" }}
    {{$w := "2/11/2021"}}
    {{if eq $t $w}}
    <h3><a href="{{.Permalink}}"> {{ .PublishDate.Format "1/2/2006" }}</a></h3>
    {{ end }}
    {{ end }}

    <div id="left-door" class="door">
      <p style="font-size: 40px; z-index: 1">11</p>
      <div class="shape"></div>

      <div class="shape"></div>
      <div id="left-knob" class="knob"></div>

      <button class="btn-date">11</button>
    </div>
  </div>
  <div class="wrapper">
    <img src="/assets/img/dates/1-18.png" alt="" class="door-img" />
    
    {{ range .Pages }}
    {{$t := .PublishDate.Format "1/2/2006" }}
    {{$w := "2/22/2021"}}
    {{if eq $t $w}}
    <h3><a href="{{.Permalink}}"> {{ .PublishDate.Format "1/2/2006" }}</a></h3>
    {{ end }}
    {{ end }}

    <div id="left-door" class="door">
      <p style="font-size: 40px; z-index: 1">02</p>
      <div class="shape"></div>

      <div class="shape"></div>
      <div id="left-knob" class="knob"></div>

      <button class="btn-date">02</button>
    </div>
  </div>

  <!--===============================================
       End of Sixth Column
      ============================================-->
</div>