<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
      <!-- Modal show message (Addeed by Pranto for #exampleModalLabel)-->
      <body>
      {{ partial "header.html" . }}
      
      <main id="main">
        <div class="snow-div">
        <section
          id="calender"
          class="calender"
          style="
            background-image: url('/assets/img/hero-bg.jpg');
            background-size: cover;
          "
        >
          <div class="container" data-aos="fade-up">
            <div class="section-title">
              <img src="/assets/img/logo.svg" alt="" />
              <p>Knock on the door.</p>
              <h2>GOOPHER Advant Calender</h2>
            </div>
            {{ partial "dates.html" . }}
          </div>
          
        </section>
        <!-- End calender Section -->
        
      </div>
      </main>
      <!-- End #main -->
    
      {{ partial "footer.html" . }}
      <script src="/assets/js/snow.js"></script>
  </body>
</html>
